.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.jum-logo {
  height: 50px;
}

.App-header {
  position: absolute;
  background-color: #282c34;
  min-height: 100vh;
  min-width: 190vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url("https://dxp-hospitality-dev-rg-sit-467300-cd2.azurewebsites.net/-/mediadh/dh/hospitality/e-menu/menus/aqpool/aqpool.jpg");
}

.container1 {
  background-color: yellow;
  background-image: url("https://dxp-hospitality-dev-rg-sit-467300-cd2.azurewebsites.net/-/mediadh/dh/hospitality/e-menu/menus/aqpool/aqpool.jpg");
   display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.language {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  color: white;
  align-items: center;
}

.container {
  background-image: url("https://dxp-hospitality-dev-rg-sit-467300-cd2.azurewebsites.net/-/mediadh/dh/hospitality/e-menu/menus/aqpool/aqpool.jpg");
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.temp{
  background-color: white;
}